[submodule "externals/raylib"]
	path = externals/raylib
	url = https://github.com/raysan5/raylib
[submodule "externals/raygui"]
	path = externals/raygui
	url = https://github.com/raysan5/raygui
[submodule "externals/hidapi"]
	path = externals/hidapi
	url = https://github.com/libusb/hidapi
